.demo-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    max-width: 120rem;
}

.demo-wrapper > * {
    flex-grow: 1;
}

.demo-summary {
    max-width: 50em;
}

.demo-summary > p {
    margin-top: 0;
}

.demo-app-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1rem;
}

.demo-grammar,
.demo-parser {
    display: flex;
    flex-direction: column;
    flex-basis: 29rem;
    flex-grow: 1;
    padding: 0 0.75rem;
    max-width: 100%;
}

.demo-grammar > *,
.demo-parser > * {
    margin: 0.5rem 0;
}

.demo-grammar > h2,
.demo-parser > h2 {
    margin-bottom: 0;
}

.demo-parser > h3 {
    margin-top: 0.375rem;
    margin-bottom: 0.1875rem;
}

.demo-canned-select {
    margin-bottom: 0;
}

.demo-canned-select select {
    font-size: 16px;
    padding: 0.25rem;
}

.demo-grammar-source {
    min-height: 30em;
}

.demo-grammar-compilation-error-message {
    color: var(--text-error-color);
    word-break: break-word;
}

.demo-grammar-compilation-error-message:empty {
    display: none;
}

.demo-grammar-compilation-status summary {
    cursor: pointer;
}

.demo-grammar-compilation-status label {
    display: inline-block;
}

.demo-parser-input {
    min-height: 20em;
}

.demo-parser-output {
    min-height: 20em;
}

.demo-grammar-source,
.demo-parser-input,
.demo-parser-output,
.demo-grammar-compilation-status-output,
.demo-grammar-compilation-error-message {
    font-family: var(--font-mono);
    font-size: 14px;
}

.demo-grammar-source,
.demo-parser-input {
    padding: 0.75rem;
}

.demo-parser-output,
.demo-grammar-compilation-status-output,
.demo-grammar-compilation-error-message {
    white-space: pre-wrap;
}

.demo-grammar-compilation-status-output {
    display: block;
    overflow: auto;
    padding: 0.75rem;
}
