<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<!--
Waxeye Parser Generator
www.waxeye.org
Copyright (C) 2008-2010 Orlando Hill
Licensed under the MIT license. See 'LICENSE' for details.
-->
<suite name="TestSuite" >
  <test name="AllTests" >
    <groups>
      <define name="all">
        <include name=".*" />
      </define>
    </groups>
    <classes>
      <class name="org.waxeye.parser.TestFixtureRunner" />
    </classes>
  </test>
</suite>
